//
// Variables
//

:root {
    --color-white: #fff;
    --color-primary: #c598ff;
    --body-font-family: "Poppins", sans-serif;
    --body-font-size: 1rem;
    --body-color: #444343;
    --body-bg: #fafaf0;
    --headings-font-family: "Poppins", sans-serif;
    --headings-font-weight: 600;
    --h1-font-size: 3.815rem;
    --h2-font-size: 3.051875rem;
    --h3-font-size: 2.44375rem;
    --h4-font-size: 1.95625rem;
    --h5-font-size: 1.5625rem;
    --btn-height: 2.75rem;
    --btn-padding-x: 1.25rem;
    --btn-padding-y: .5rem;
    --btn-font-family: "Poppins", sans-serif;
    --btn-font-size: 1rem;
    --btn-font-weight: 600;
    --btn-border-width: 0;
    --btn-border-color: transparent;
    --btn-border-radius: 12px;
    --btn-transition: transform .25s ease-in-out, box-shadow .25s ease-in-out;
    --container-padding-x: 1.125rem;
    --container-max-width: 1540px;
    --input-padding-y: .75rem;
    --input-font-size: 1rem;
    --input-font-weight: 600;
    --input-color: inherit;
    --input-bg: transparent;
    --input-border-width: 1px;
    --input-border-color: var(--body-color);
    --navbar-zindex: 1010;
    --navbar-height: 5.9375rem;
    --navbar-bg: #ad9cf4;
    --paragraph-margin-bottom: 1.875rem;
}