//
// Container
//

.container {
    padding-inline: var(--container-padding-x);
    margin: 0 auto;
    width: 100%;
    max-width: var(--container-max-width);

    @media screen and (min-width: 1063px) {
        --container-padding-x: 3.75rem
    }
}

.container-xl {
    max-width: 1180px;
}

.container-md {
    max-width: 630px;
}