.form-control {
    display: block;
    width: 100%;
    padding-inline: 0;
    padding-block: var(--input-padding-y);
    font-family: var(--body-font-family);
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
    color: var(--input-color);
    background-color: var(--input-bg);
    border: 0;
    border-bottom: var(--input-border-width) solid var(--input-border-color);

    &:focus {
        outline: 0;
    }

    &::placeholder {
        color: var(--input-placeholder-color);
    }

    @media screen and (min-width: 1063px) {
        --input-font-size: 1.25rem;
    }
}

textarea.form-control {
    resize: none;
}