.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--navbar-height);
    background-color: var(--navbar-bg);

    @media screen and (min-width: 1063px) {
        --navbar-height: 8.125rem;
        --navbar-margin-bottom: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: var(--navbar-zindex);
    }

    .nav-item {
        position: relative;
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 0;
            height: 2px;
            background-color: var(--body-color);
            transition: width .25s ease-in-out;
        }
    
        &:hover::before,
        &.active::before {
            width: 100%;
        }
    }
}