.section {
    scroll-margin-top: 110px;
}

.section:nth-child(2n+3) {
    background-color: #FFF2DF;
}

.project-nav {
    box-shadow: -4px 3px 15px #00000025;
    z-index: 1000;
    display: none;

    @media screen and (min-width: 1063px) {
        display: block;
    }
}

.project-sango {
    .navbar {
        background: #7EB4F3;

        @media screen and (min-width: 1063px) {
            background-color: transparent;
        }
    }

    .header {
        background: linear-gradient(180deg, #7EB4F3 6%, #EDE4F4 54.5%, #FAFAF0 63.1%);
        padding-bottom: 1.75rem;
        margin-bottom: 0;
    }
}

.project-vetsan {
    .navbar {
        background: #7EF3EC;

        @media screen and (min-width: 1063px) {
            background-color: transparent;
        }
    }

    .header {
        background: linear-gradient(180deg, #7EF3EC 6%, #F4E7FF 54.5%, #FAFAF0 63.1%);
        padding-bottom: 1.75rem;
        margin-bottom: 0;
    }
}

.project-cakeseable {
    .header {
        background: linear-gradient(180deg, #FBC8DD 6%, #F2E6ED 34.6%, #FAFAF0 63.1%);
    }
}

.image-description-img {
    max-width: 562px;
}

.image-description-text {
    position: absolute;
    top: 25%;
}

.image-description-text-start {
    left: 0;
}

.image-description-text-end {
    right: 0;
}

.findings {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    margin-bottom: 3rem;

    @media screen and (min-width: 1063px) {
        align-items: start;
        flex-direction: row;
        column-gap: 5rem;
        max-width: 1180px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7.75rem;
    }
}

.findings-item {
    display: flex;
    flex-direction: column;
    flex: 1; 
    gap: .875rem;
    text-align: center;
}

.findings-icon {
    display: flex;
    align-self: center;
    width: 4.625rem;
    height: 4.625rem;
}

.findings-icon-rounded {
    display: grid;
    place-items: center;
    align-self: center;
    width: 4.625rem;
    height: 4.625rem;
    background-color: var(--body-color);
    border-radius: 50rem;
}

.mockup-image {
    @media screen and (min-width: 1063px) {
        max-width: 240px;
    }
}

.mockup-image-lg {
    @media screen and (min-width: 1063px) {
        max-width: 240px*2;
    }
}