.header {
    position: relative;
    padding-top: 1.75rem;
    padding-bottom: 5.9375rem;
    margin-bottom: 1rem;
    background-color: var(--color-primary);
    
    @media screen and (min-width: 1063px) {
        display: flex;
        place-items: center;
        height: 100vh;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.header-home {
    background: linear-gradient(180deg, #AD9CF4 17%, #C598FF 48%, #FAFAF0 100%);
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 1.5rem;
    display: grid;
    place-items: center;
    width: 1.75rem;
    height: 1.75rem;
    background-color: var(--body-color);
    border-radius: 50rem;
    transform: translateX(-50%);

    @media screen and (min-width: 1063px) {
        bottom: 100px;
        width: 4.5rem;
        height: 4.5rem;
    }
}

.scroll-down-icon {
    width: 1rem;
    height: 1rem;
}

.person-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    column-gap: 1rem;
    text-decoration: none;

    @media screen and (min-width: 1063px) {
        justify-content: start;
        flex-basis: auto;
    }

    .person-job {
        display: none;

        @media screen and (min-width: 1063px) {
            opacity: 0;
            font-size: .875rem;
            transform: translateX(-10%);
            transition: opacity .25s ease-in-out, transform .25s ease-in-out;
        }
    }

    &:hover .person-job {
        opacity: 1;
        transform: translateX(0);
    }
}