:root {
  --color-white: #fff;
  --color-primary: #c598ff;
  --body-font-size: 1.25rem;
  --body-color: #444343;
  --body-bg: #fafaf0;
  --headings-font-family: "Poppins", sans-serif;
  --headings-font-weight: 600;
  --h1-font-size: 3.815rem;
  --h2-font-size: 3.051875rem;
  --h3-font-size: 2.44375rem;
  --h4-font-size: 1.95625rem;
  --h5-font-size: 1.5625rem;
  --container-padding-x: 3.75rem;
  --container-max-width: 1540px;
  --input-padding-y: .75rem;
  --input-font-size: 1.25rem;
  --input-font-weight: 600;
  --input-color: inherit;
  --input-bg: transparent;
  --input-border-width: 1px;
  --input-border-color: var(--body-color);
  --navbar-zindex: 1010;
  --navbar-height: 8.125rem;
  --navbar-bg: transparent;
  --paragraph-margin-bottom: 1.875rem;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style-position: inside;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--body-font-size);
  font-weight: 500;
  font-style: normal;
  color: var(--body-color);
  line-height: 1.5;
  background-color: var(--body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  font-style: normal;
}

h1,
.h1 {
  font-size: var(--h1-font-size);
  line-height: 1.15;
}

h2,
.h2 {
  font-size: var(--h2-font-size);
  line-height: 1.15;
}

h3,
.h3 {
  font-size: var(--h3-font-size);
  line-height: 1.15;
}

h4,
.h4 {
  font-size: var(--h4-font-size);
  line-height: 1.15;
}

h5 {
  margin-bottom: 0.75rem;
}

h5,
.h5 {
  font-size: var(--h5-font-size);
  line-height: 1.15;
}

p {
  margin-bottom: var(--paragraph-margin-bottom);
}

a {
  position: relative;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}
a:not(.btn)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--body-color);
  transition: width 0.25s ease-in-out;
}
a:not(.btn):hover::before {
  width: 100%;
}

strong {
  font-weight: 600;
}

.list-unstyled {
  list-style: none;
}

.header {
  position: relative;
  display: flex;
  place-items: center;
  background-color: var(--color-primary);
  height: 100vh;
}

.header-home {
  background: linear-gradient(180deg, rgb(173, 156, 244) 17%, rgb(197, 152, 255) 48%, rgb(250, 250, 240) 100%);
}

.header-sango {
  background: linear-gradient(180deg, rgb(126, 180, 243) 6%, rgb(237, 228, 244) 55%, rgb(250, 250, 240) 63%);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
}

.person-name {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  text-decoration: none;
}
.person-name .person-job {
  display: none;
  font-size: 0.875rem;
}
.person-name:hover .person-job {
  display: block;
}

.footer {
  padding-block: 80px;
}

.container {
  padding-inline: var(--container-padding-x);
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-max-width);
}

.container-xl {
  max-width: 1180px;
}

.container-md {
  max-width: 630px;
}

.form-control {
  display: block;
  width: 100%;
  padding-inline: 0;
  padding-block: var(--input-padding-y);
  font-family: var(--body-font-family);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  color: var(--input-color);
  background-color: var(--input-bg);
  border: 0;
  border-bottom: var(--input-border-width) solid var(--input-border-color);
}
.form-control:focus {
  outline: 0;
}
.form-control::placeholder {
  color: var(--input-placeholder-color);
}

textarea.form-control {
  resize: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.nav-item {
  font-size: 0.875rem;
  color: inherit;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--navbar-zindex);
  display: flex;
  align-items: center;
  height: var(--navbar-height);
  background-color: var(--navbar-bg);
}

.section {
  scroll-margin-top: 110px;
}

.section:nth-child(2n+3) {
  background-color: #FFF2DF;
}

.project-nav {
  box-shadow: -4px 3px 15px rgba(0, 0, 0, 0.1450980392);
}

.findings {
  display: flex;
  align-items: start;
  column-gap: 5rem;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7.75rem;
}

.findings-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.875rem;
  text-align: center;
}

.findings-icon {
  display: flex;
  align-self: center;
  width: 4.625rem;
  height: 4.625rem;
}

.findings-icon-rounded {
  display: grid;
  place-items: center;
  align-self: center;
  width: 4.625rem;
  height: 4.625rem;
  background-color: var(--body-color);
  border-radius: 50rem;
}

.mockup-image {
  max-width: 240px;
}

.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-hidden:not(caption) {
  position: absolute !important;
}

.position-sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-basis-25 {
  flex-basis: 25%;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.col-6 {
  grid-column: auto/span 6;
}

.gap-4 {
  gap: 3.5rem;
}

.gap-5 {
  gap: 4.125rem;
}

.column-gap-7 {
  column-gap: 7.75rem;
}

.row-gap-2 {
  row-gap: 1.25rem;
}

.row-gap-7 {
  row-gap: 7.75rem;
}

.w-100 {
  width: 100%;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.25rem;
}

.mb-3 {
  margin-bottom: 2.5rem;
}

.mb-4 {
  margin-bottom: 3.5rem;
}

.mb-5 {
  margin-bottom: 4.125rem;
}

.mb-6 {
  margin-bottom: 5rem;
}

.mb-7 {
  margin-bottom: 7.75rem;
}

.py-3 {
  padding-block: 2.5rem;
}

.py-5 {
  padding-block: 4.125rem;
}

.pt-8 {
  padding-top: 11.5625rem;
}

.fs-5 {
  font-size: var(--h5-font-size);
}

.text-start {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-nowrap {
  text-wrap: nowrap;
}

.text-white {
  color: var(--color-white);
}

.bg-body {
  background-color: var(--body-bg);
}